@model IEnumerable<Assignment12_Garage.Models.ViewModels.VehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex justify-content-center">Garage</h1>

@if(TempData.ContainsKey("SearchFail")){
    <div class="alert alert-warning" role="alert">
        @TempData["SearchFail"]
    </div>
}

@if (TempData.ContainsKey("SearchSuccess"))
{
    <div class="alert alert-success" role="alert">
        @TempData["SearchSuccess"]
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}


<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                <a asp-action="Sort" asp-route-sortOrder="vehicleType">Vehicle Type</a>
            </th>

            <th>
                <a asp-action="Sort" asp-route-sortOrder="regNumber">Registration Number</a>
            </th>

            <th>
               <a asp-action="Sort" asp-route-sortOrder="arrivalDate">Arrival Date</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Checkout</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Check In</a>
<a asp-action="ShowAll" class="btn btn-info ml-2">Show All Vehicles</a>
<form asp-action="Filter" method="get" class="form-inline m-3">
    <div class="form-group mr-2">
        <input type="text" class="form-control" name="regNumber" placeholder="Search by registration number">
    </div>
    <div class="form-group mr-2">
        <input type="text" class="form-control" name="color" placeholder="Search by color">
    </div>
    <div class="form-group mr-2">
        <input type="text" class="form-control" name="brand" placeholder="Search by brand">
    </div>
    <br />
    <span>|</span>
    <button type="submit" class="btn btn-secondary">Search</button>
    <span>|</span>
</form>

<a asp-action="Statistics" class="btn btn-success">Statistics</a>
