@model Assignment12_Garage.Models.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <h4>Vehicle Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalParkingHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalParkingHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>

<a asp-action="Index" class="btn btn-secondary">Return Back</a>